.color-blue{
    color:#fff;
    background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
    height: 200px;

}

.lorem{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 2px 5px 8px #1C1213;
    text-decoration: underline;
    text-align: center;
}