.box{
    width: 200px;
    height: 100px;
}

.satu{
    background-color: salmon;
}

.dua{
    background-color: skyblue;
    position: relative;
    top: 0px ;
}

.positioning-1{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.position-fixed{
    height: 50px;
    background-color: sandybrown;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.position-sticky{
    background-color: steelblue;
    height: 20px;
    position: sticky;
    top: 10px;
}
